---
import Dot from '@/components/Dot/Dot.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<section
  class="introduction | bg-secondary-light grid min-h-dvh grid-cols-1 items-center overflow-hidden pb-8"
>
  <div class="layout-content | py-7">
    <h1 class="font-heading">
      {title}<Dot />
    </h1>
  </div>
</section>

<style>
  .introduction {
    padding-top: var(--navigation-height);
  }
</style>
