# build output
dist/
/test-results

# generated
.astro/
coverage

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Design tokens
/src/styles/tokens.theme.css
/src/styles/tokens.theme.ts
/src/styles/tokens.ts
/src/design-tokens/icons.json

.TODO