---
import TextSwap from '@/components/TextSwap/TextSwap.astro';

export type Props = {
  href: string;
  text: string;
  title: string;
};

const { title, text, href } = Astro.props;
---

<div class="work-title | relative flex flex-col justify-center gap-4">
  <div>
    <h3 class="font-sub-heading">{title}</h3>
    <p class="font-body text-secondary">{text}</p>
  </div>
  <div class="flex gap-3">
    <a href={href} target="_blank" class="font-body work-tile-link">
      <TextSwap text="Visit project" />
    </a>
    <a href={href} target="_blank" class="font-body work-tile-link">
      <TextSwap text="Github" />
    </a>
  </div>
</div>

<style>
  .work-title {
  }
</style>
