---
import TextSwap from '@/components/TextSwap/TextSwap.astro';

export type Props = {
  href: string;
  text: string;
  title: string;
  github: string;
};

const { title, text, href, github } = Astro.props;
---

<div class="work-title | relative flex flex-col justify-center gap-4">
  <div class="flex flex-col gap-1">
    <h3 class="font-sub-heading">{title}</h3>
    <p class="font-body text-secondary">{text}</p>
  </div>
  <div class="flex gap-3">
    <a href={href} target="_blank" rel="noopener noreferrer" class="font-body work-tile-link">
      <TextSwap text="Visit project" />
    </a>
    <span class="text-tertiary" aria-hidden="true">•</span>
    <a href={github} target="_blank" rel="noopener noreferrer" class="font-body work-tile-link">
      <TextSwap text="Github" />
    </a>
  </div>
</div>
