@import 'tailwindcss';
@import './tokens.theme.css';
@import './font.css';
@import './color.css';
@import './layout.css';

:root {
  --navigation-height: 75px;
  --focus-color: var(--color-yellow-300);
  --focus-setting: 0 0 0 4px transparent, 0 0 0 6px var(--focus-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-text,
.body-text h3,
.body-text h4,
.body-text h5,
.body-text h6 {
  font: var(--font-body-2);
}

.body-text h1 {
  font: var(--font-title-3);
}

.body-text h2 {
  font: var(--font-title-2);
}

.astro-code {
  padding: var(--spacing-4);
}

.body-text ol,
.body-text ul {
  list-style: unset;
  padding-left: var(--spacing-6);
}

#scrollSentinel {
  position: absolute;
  top: calc(var(--navigation-height) / 2);
  width: 1px;
  height: 1px;
  pointer-events: none;
}

a:focus-visible,
summary:focus-visible,
button:not(:disabled):focus-visible {
  box-shadow: var(--focus-setting);
  outline: none;
}

@theme {
  --animate-fade-in: fadeIn 0.25s ease-in-out forwards;
  --animate-nav-entry: navEntry 0.25s ease-in-out forwards;
  --animate-shift-up: shiftUp 0.25s cubic-bezier(0, 0, 0.2, 1) forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes shiftUp {
    0% {
      opacity: 0;
      transform: translateY(5%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes navEntry {
    0% {
      opacity: 0;
      transform: translateY(calc(var(--navigation-height) * -1));
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
