---
import TextSwap from '../TextSwap/TextSwap.astro';

export type BlogTileProps = {
  href: string;
  title: string;
};

const { title, href } = Astro.props;
---

<article
  class="blog-tile | text-swapper bg-primary hover:bg-tertiary-light relative overflow-hidden transition-colors duration-500"
>
  {
    (
      <a
        href={href}
        class="blog-tile-link | relative z-20 flex h-64 cursor-pointer flex-col p-5 xl:h-125"
        aria-label={`Read more: ${title}`}
        tabindex="0"
      >
        {title && <h3 class="font-sub-heading">{title}</h3>}
        <span class="font-title mt-auto block text-right">
          <TextSwap text="Read more" />
        </span>
      </a>
    )
  }
</article>

<style>
  .blog-tile-link {
    box-shadow: 0 0 0 0 inset var(--focus-color);
    transition: box-shadow ease-in-out 0.25s;
  }

  .blog-tile-link:focus-visible {
    box-shadow: 0 0 0 10px inset var(--focus-color);
  }

  @media (prefers-reduced-motion: reduce) {
    .blog-tile-link {
      transition: none;
    }
  }
</style>
