---
import ShareButton from '@/components/ShareButton/ShareButton.astro';

type Props = {
  duration: Number;
  pubDate: Date;
  title: string;
};

const { title, pubDate, duration = 1 } = Astro.props;

const date = new Date(pubDate).toLocaleDateString('en-GB');
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<section class="bg-tertiary-light py-9" data-testid="blog-hero">
  <div class="max-w-8xl mx-auto flex flex-col gap-4 px-2 pt-4 text-center">
    <p class="font-title">{date}</p>
    <h1 class="font-heading">{title}</h1>
    <div class="flex justify-center gap-3">
      <p class="font-body">{duration} minute read</p>
      <span class="text-tertiary">•</span>
      <ShareButton url={canonicalURL} />
    </div>
  </div>
</section>
