---
import { type CollectionEntry, getCollection, render } from 'astro:content';

import Dot from '@/components/Dot/Dot.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts/consts';
import Layout from '@/layouts/Layout.astro';

type Props = CollectionEntry<'pages'>;

export async function getStaticPaths() {
  const entries = await getCollection('pages');
  return entries.map((entry: Props) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props as { entry: Props };
const { Content } = await render(entry);
const { data } = entry;
---

<Layout
  id="page"
  title={`${data.title} | ${SITE_TITLE}`}
  description={data.description ?? SITE_DESCRIPTION}
>
  <section class="bg-primary-light grid grid-cols-1 items-center overflow-hidden px-5 py-7">
    <div class="mx-auto p-7">
      <h1 class="font-heading">
        {data.title}<Dot />
      </h1>
    </div>
  </section>
  <article class="grid grid-cols-3 xl:grid-cols-5">
    <section
      class="body-text col-span-3 flex flex-col gap-6 px-5 py-7 xl:col-span-3 xl:col-start-2"
    >
      <Content />
    </section>
  </article>
</Layout>
