---
import type { Tool } from '@/components/Biography/Biography.astro';

type Props = {
  items: Tool[];
};

const { items } = Astro.props;
---

<ul class="grid w-full grid-cols-2 justify-between gap-6 sm:grid-cols-4">
  {
    items?.map((tool: Tool) => (
      <li class="col-span-1 mx-auto flex max-w-37.5 flex-col gap-3 sm:mx-0">
        <span class="block">
          <img
            src={`/logos/${tool.id}.svg`}
            alt=""
            aria-hidden="true"
            class="mx-auto h-12.5"
            height="50"
            width="50"
          />
        </span>
        <span class="font-body block w-full text-center">{tool.name}</span>
      </li>
    ))
  }
</ul>
