---
import LogoBlock from './LogoBlock.astro';

export type Tool = {
  id: string;
  name: string;
};

type Props = {
  title: string;
  text?: string;
  tools: Array<Tool>;
};

const { title, text, tools } = Astro.props;
const toolsRow1 = tools.slice(0, 4);
const toolsRow2 = tools.slice(4, 8);
---

<section class="-mt-10">
  <img src="/ocean.webp" class="mx-auto" />
</section>

<section class="-mt-10 min-h-dvh bg-neutral-50">
  <div class="mx-auto p-7">
    <div class="my-10 grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div class="col-span-1 lg:col-span-2">
        <h1 class="font-heading">
          {title}
        </h1>
        <p set:html={text} class="font-sub-heading pt-6 text-left" />
        <div class="flex flex-col gap-5 py-8">
          <LogoBlock items={toolsRow1} />
          <LogoBlock items={toolsRow2} />
        </div>
      </div>
      <div class="col-span-1 lg:col-span-1">
        <img src="/me.webp" class="max-lg:mx-auto max-lg:w-2xs" />
      </div>
    </div>
  </div>
</section>
