---
import LogoBlock from '@/components/LogoBlock.astro';
import BannerClip from '@/components/BannerClip.astro';
import SwipeImage from '@/components/SwipeImage.astro';
import bannerImage from '@/assets/ocean.webp';

export type Tool = {
  id: string;
  name: string;
};

type Props = {
  title: string;
  text?: string;
  tools: Array<Tool>;
};

const { title, text, tools } = Astro.props;
---

<section class="-mt-9 overflow-hidden">
  <div class="mx-auto flex max-w-6xl">
    <BannerClip initialInsetPct={20} initialScale={1.5}>
      <img src={bannerImage.src} alt="A description of the image" loading="lazy" decoding="async" />
    </BannerClip>
  </div>
</section>

<section class="-mt-9 min-h-dvh bg-neutral-50">
  <div class="mx-auto px-5 py-7">
    <div class="my-10 grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div class="col-span-1 lg:col-span-2">
        <h1 class="font-heading">
          {title}<span class="text-amber-300">.</span>
        </h1>
        <p set:html={text} class="font-title pt-6 text-left" />
        <div class="flex flex-col gap-5 py-8">
          <LogoBlock items={tools} />
        </div>
      </div>
      <div class="col-span-1 lg:col-span-1">
        <SwipeImage threshold={0.25}>
          <img src="/src/assets/me.webp" alt="Misty mountain" />
        </SwipeImage>
      </div>
    </div>
  </div>
</section>
