---
type BlogPost = {
  title: string;
  href: string;
  image: string;
};

type Props = {
  title: string;
  text?: string;
  items: Array<BlogPost>;
};

const { title, text, items } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  {text && <p>{text}</p>}
</section>
