---
type Props = {
  title: string;
  text?: string;
};

const { title } = Astro.props;
---

<section
  class="introduction | grid min-h-dvh grid-cols-1 items-center overflow-hidden bg-pink-100 pb-8"
>
  <div class="mx-auto p-7">
    <h1 class="font-heading">
      {title}<span class="text-sun-500 animate-pulse">.</span>
    </h1>
  </div>
</section>

<style>
  .introduction {
    padding-top: var(--navigation-height);
  }
</style>
