---
import TextSwap from '@/components/TextSwap/TextSwap.astro';

type NavItem = {
  href: string;
  label: string;
};

type Props = {
  items: NavItem[];
};

const date = new Date().getFullYear();
const { items = [] } = Astro.props;
---

<footer class="layout-content | py-7">
  <div class="grid grid-cols-1 gap-5 xl:grid-cols-3">
    <p class="font-body order-2 col-span-1 mt-auto xl:order-1">
      Built with love. Copyright &copy {date}. All rights reserved.
    </p>

    <nav
      id="navigationFooter"
      aria-label="Footer"
      class="order-1 col-span-2 flex xl:order-2 xl:justify-end"
    >
      {
        items?.length > 0 ? (
          <ul class="mt-auto flex gap-5 max-lg:flex-col">
            {items.map((item: NavItem) => (
              <li>
                <a href={item.href} class="font-sub-heading block">
                  <TextSwap text={item.label} class="flex" />
                </a>
              </li>
            ))}
            <li>
              <a href="#body" class="font-sub-heading cursor-pointer">
                <TextSwap text="Back to top" class="flex" />
              </a>
            </li>
          </ul>
        ) : null
      }
    </nav>
  </div>
</footer>
