---
import '@/styles/global.css';

import Footer from '@/components/Footer/Footer.astro';
import BaseHead from '@/components/BaseHead/BaseHead.astro';
import MainNavigation from '@/components/MainNavigation/MainNavigation.astro';
import ScrollProvider from '@/components/ScrollProvider/ScrollProvider.astro';

import data from '@/data/navigation.json';

import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts/consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body id="body">
    <div id="scrollSentinel" aria-hidden="true"></div>
    <MainNavigation items={data.main} />
    <main id="content">
      <slot />
      <ScrollProvider />
    </main>
    <Footer items={data.main} />
  </body>
</html>
